.fadeMe {
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'AtlasGrotesk-Regular';
	src:url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff'),
	url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

@@font-face {
	font-family:'codropsicons';
	src: url('../fonts/codropsicons/codropsicons.woff') format('woff'),
	url('../fonts/codropsicons/codropsicons.eot'),
	url('../fonts/codropsicons/codropsicons.ttf') format('truetype')

}

@font-face {
	font-family: 'AtlasGrotesk-Regular';
	src:url('../fonts/AtlasGrotesk-Regular-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AtlasGrotesk-Bold';
	src:url('../fonts/AtlasGrotesk-Bold-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AtlasGrotesk-Medium';
	src:url('../fonts/AtlasGrotesk-Medium-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AtlasGrotesk-Light';
	src:url('../fonts/AtlasGrotesk-Light-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AtlasTypewriter-Regular';
	src:url('../fonts/AtlasTypewriter-Regular-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AtlasTypewriter-Light';
	src:url('../fonts/AtlasTypewriter-Light-Web.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}


.tabsnav__bar:hover {
    /* outline: aliceblue; */
    /* outline-color: #cf102d; */
    /* outline-style: dotted; */
}

h3.tabsnav__title:hover {
    color: black;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Avenir Next', Avenir, Helvetica, Arial, sans-serif;
	color: #393a3e;
	background: black;
}

a {
	text-decoration: none;
	color: #000;
	outline: none;
}

a:hover,
a:focus {
	color: #1d48f3;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.view {
	position: relative;
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	height: 100vh;
	margin: 0 0 0 215px;
}

.content {
	z-index: 1;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 25px 50px;
	background: url(img/freegifmaker.me_2cVrw.gif) no-repeat top left;
	background-size: auto 100%;
	background-position-x:-160px;
	/* animation: backx 40s ease-in-out;
	transition: all 1.2s */
	position: absolute;
}

@media (max-width:1080px) {
	.content {
		position: relative;
	}
	.header.codrops-header h1 {
		width: 100%;
	}
}

.contentbg {
	background: url(/img/barmenu/1920x855-bg-hero-wilsonx-ball.jpg) no-repeat top left;
	background-size: auto 100%;
	background-position-x: -264px;
	animation: backx 10s cubic-bezier(0.22, 0.61, 0.36, 1);
	animation-fill-mode: forwards;
	transition: all 1.2s
	z-index: 0;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: relative;
	opacity: 0.6;
	/* filter: blur(93px); */
}


.deco__text {
	font-size: 0.5em;
	line-height: 1;
	margin: 0px;
	padding-right: 6px;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 6px;
	margin-right: 30px;
	font-family: 'AtlasTypewriter-Regular';
	text-align: left;
	color: #ffffff;
	outline: dashed;
	outline-color: white;
}

/* Header */
.codrops-header {
	top: -4px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: 100%;
	text-align: right;
	right: -40px;
}

.codrops-header__info {
	font-family: 'AtlasGrotesk-Bold', serif;
	font-size: 2.5em;
	font-weight: 700;
	font-style: italic;
	position: relative;
	color: white;
	max-width: 400px;
	margin: auto 10vw 0 0;
	text-align: right;
}

.codrops-header__info::after {
	/* content: '01'; */
	font-family: 'AtlasTypewriter-Regular', Avenir, Helvetica, Arial, sans-serif;
	font-size: 8em;
	font-weight: bold;
	font-style: normal;
	position: absolute;
	z-index: -1;
	top: 0%;
	right: 52.5%;
	letter-spacing: -0.05em;
	color: #fff;
}

.codrops-header__deco {
	font-size: 2em;
	line-height: 1;
	padding: 1em 0;
	color: #1d48f3;

	writing-mode: vertical-rl;
}

.codrops-header__title {
	font-size: 8.5em;
	line-height: 0.8;
	margin: 0 -7px 0;
	padding: 0;
}

.codrops-header__tagline {
	width: 50%;
	margin: 0 0 0 auto;
	padding: 0;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	white-space: nowrap;
}

.codrops-icon {
	display: block;
}

.codrops-icon:last-child {
	margin: 0 0 0 2em;
}

.btn {
	border: none;
	background: none;
}

.btn:focus {
	outline: none;
}

.btn--back {
	font-size: 2.6em;
	position: absolute;
	z-index: 1002;
	top: 1em;
	right: 1em;
	font-family: 'AtlasGrotesk-Bold';
	opacity: 0;
	text-transform: uppercase;
	color: #cf102d;
}

.btn--menu {
	font-size: 0.85em;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	display: none;
	margin: 10px 0 0 6px;
}

.btn--menu-active .icon--menu,
.icon--cross {
	display: none;
}

.btn--menu-active .icon--cross {
	display: block;
}

/* Demo links */
.demos {
	display: flex;
	align-items: center;
	margin: 2em 0 0 auto;
}

.demos__text {
	font-size: 0.8em;
	display: block;
	margin: 0 2em 0 0;
	color: #bcb8e8;
}

.demo {
	position: relative;
	display: block;
	margin: 0 0 0 1.5em;
}

.demo:hover,
.demo:focus {
	outline: none;
}

.demo--current {
	pointer-events: none;
	color: #fff;
}

.demo--current::before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin: -17px 0 0 -16px;
	border-radius: 50%;
	background: #1d48f3;
}
/* Content */
.tabscontent {
	pointer-events: none;
}

.tabscontent__item {
	position: fixed;
	z-index: 1001;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	opacity: 0;
}

header.codrops-header h1 {
    color: white;
    text-align: left;
    margin: 0px auto;
    width: 92%;
    font-size: 29px;
    display: block;
}

@media (min-width:840px) {
	header.codrops-header h1 {
    padding-right: 258px;
    display: block;
    margin-right: 520px !important;
}
}

h1.tagline {
    font-size: 86px !important;
    text-align: left !important;
    MARGIN-TOP: 10px !important;
    padding-right: 0px !important;
}

.tabscontent__item--current,
.tabscontent__item--current ~ .btn--back {
	pointer-events: auto;
}

.poster {
	position: relative;
	height: 80vh;
	margin: 10vh auto;
	padding: 0 100px;
	pointer-events: none;
}

.poster__img {
	position: relative;
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.poster__caption {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0px 0px;
}

.poster__box {
	position: absolute;
	top: -50px;
	left: 0;
	width: 50%;
	height: 40%;
	border: 10px solid;
}

.poster__number {
	font-size: 5em;
	font-weight: bold;
	line-height: 0.7;
	position: absolute;
	bottom: 0;
	left: calc(100% - 50px + 5px);
	color: lavender;
}

.poster__title {
	font-size: 2em;
	line-height: 1;
	color: black;
	display: flex;
	flex-direction: row;
	font-family: 'AtlasTypewriter-Regular';
	text-transform: uppercase;
	margin: 0 0 -0.25em 0.15em;
	/* text-indent: -0.75em; */
}

.poster__deco {
	font-size: 2em;
	line-height: 1;
	margin: 0 -1.25em 0 auto;
	color: #1d48f3;

	writing-mode: vertical-rl;
}

.column {
	width: 30vw;
}

.column__title {
	color: #ff764b;
}

.column__text {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
	color: #fff4d7;
}

/* Individual demos */
.demo-2 {
	background: #fff4d7;
}

.demo-2 .view {
	margin-left: 150px;
}

.demo-2 .content {
	background-image: url(../img/bg_yellow.jpg);
}

.demo-2 .codrops-header__info::after {
	content: '02';
	color: #fff;
}

.demo-2 .codrops-header__deco,
.demo-2 a:hover,
.demo-2 a:focus {
	color: #ff764b;
}

.demo-2 .deco__text,
.demo-2 .demos__text {
	color: #d8c184;
}

.demo-2 .demo--current::before {
	background: #ff764b;
}

.demo-2 .btn--back {
	color: #ff764b;
}

.demo-3 {
	color: #fc0;
	background: #2a3137;
}

.demo-3 a {
	color: #fff;
}

.demo-3 a:hover,
.demo-3 a:focus,
.demo-3 .btn--menu:hover {
	color: #fc0;
}

.demo-3 .view {
	margin: 0;
	padding: 5vw 5vw calc(10vw + 1em);
}

.demo-3 .content {
	padding: 0;
}

.demo-3 .codrops-header {
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: calc(100% + 3.25em);
	text-align: left;
}

.demo-3 .codrops-header__title {
	font-family: 'AtlasTypewriter-Regular', sans-serif;
	font-size: 7em;
	line-height: 0.6;
	margin: auto 0 0 -40px;
	padding: 0.2em 0 0 0;
}

.demo-3 .codrops-header__tagline {
	font-size: 1.5em;
	margin: 0.25em 0 0 -0.3em;
}

.demo-3 .btn--menu {
	font-size: 1em;
	top: auto;
	bottom: 0;
	left: 50%;
	display: block;
	margin: 0 -0.75em 1em;
	color: #fbf9fa;
}

.demo-3 .content {
	background: url(../img/img4.jpg) no-repeat 50% 20%;
	background-size: cover;
}

.demo-3 .codrops-links {
	align-self: flex-end;
	margin: 1.5em 1.5em auto;
}

.demo-3 .demos {
	margin: 1em 0 0;
}

.demo-3 .demo:first-child {
	margin: 0;
}

.demo-3 .demo.demo--current {
	color: #2a3137;
}

.demo-3 .demo--current::before {
	background: #fc0;
}

.demo-3 .btn--back {
	color: #6c7d8c;
	top: 0.5em;
	right: 0.5em;
}

.demo-3 .btn--back .icon {
	transform: rotate(-90deg);
}

.demo-3 .codrops-header__deco {
	font-size: 2.25em;
	position: absolute;
	right: -0.575em;
	bottom: 2em;
	color: #fc0;
}

.demo-3 .codrops-header::after {
	content: '03';
	font-size: 5em;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: -40px;
	color: #fff;
}

.box {
	position: relative;
	width: 40vw;
	min-width: 300px;
	height: calc(90vh - 120px);
	margin-top: 40px;
	background-size: cover;
	background-position: 50% 0;
}

.box__title {
	font-size: 6em;
	position: absolute;
	bottom: 0;
	left: -1em;
	margin: 0;
	color: #fff;
}

.tabscontent__item:first-child .box {
	background-image: url(../img/portrait1.jpg);
}

.tabscontent__item:nth-child(2) .box {
	background-image: url(../img/portrait2.jpg);
}

.tabscontent__item:nth-child(3) .box {
	background-image: url(../img/portrait3.jpg);
}

@media screen and (max-width: 40em) {
	h1.tagline {
		font-size: 66px !important;
	}

	.view {
		overflow: auto;
		height: auto;
		min-height: calc(100vh - 69px);
		margin: 0;
	}
	.demo-3 .view {
		height: calc(100vh - 69px);
	}
	.content {
		flex-direction: column;
		padding: 5px;
	}


	.codrops-header__info {
		font-size: 1.15em;
	}
	.deco__text,
	.demos__text {
		display: none;
	}
	.codrops-links {
		margin: 0 0 1em;
	}
	.codrops-icon {
		font-size: 1em;
	}
	.codrops-header__deco {
		font-size: 1.25em;
	}
	.codrops-header__title {
		font-size: 5.5em;
		margin: 0 -4px;
	}
	.codrops-header__tagline {
		width: auto;
	}
	.demos {
		align-items: flex-start;
		margin-top: 1em;
	}
	.codrops-header__info::after {
		font-size: 7em;
	}
	.poster__box {
		top: -20px;
		left: 30px;
		width: 30%;
		height: 30%;
		border: 7px solid;
	}
	.poster__deco {
		font-size: 1em;
	}
	.poster__number {
		font-size: 2em;
		left: calc(100% - 90px);
	}
	.poster__title {
		font-size: 3em;
	}
	.btn--back {
		top: 0;
		right: 0;
	}
	.btn--menu {
		display: block;
	}
	.demo-2 .btn--menu {
		position: relative;
		margin: 0 2em 0 0;
	}
	.demo-2 .tabscontent__item {
		font-size: 0.575em;
		flex-direction: column;
	}
	.column__title {
		margin: 1em 0 0;
	}
	.demo-3 .codrops-header__title {
		font-size: 2em;
		margin: 0;
	}
	.demo-3 .codrops-header__tagline {
		font-size: 1em;
		margin-left: 0;
	}
	.demo-3 .codrops-header::after {
		font-size: 3em;
		left: 10px;
	}
	.demo-3 .codrops-header__deco {
		font-size: 0.85em;
	}
}

.codrops-top.clearfix a span {
    color: white;
    font-family: 'AtlasTypewriter-Regular';
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    padding: 0px 10px 0px 10px;
}

h3.tabsnav__title:hover {
    color: #cf102d;
}

.tabsnav__bar:hover {
    background: white;
}

@-webkit-keyframes backx {
    0% {
        transform: scale(1);
				filter: blur(40px);
       }
    100% {
        transform: scale(1.2);
				filter: blur(0px);


    }

}
